$Navbar-color : rgb(63, 84, 153);


$text-color: white;

$navbar-btn : rgb(70, 182, 48);


$navbar-btn_hover :rgb(61, 151, 43);


$main-color : rgb(236, 236, 236);

$mainBtn : rgb(199, 199, 199);

$mainBtn-hover : rgb(221, 221, 221);